---
import Html from "$layout/Html.astro";
import Thurston from "$component/app/Thurston.svelte";
import Readme from "$component/app/Readme.md";
---

<Html title="Thurston's Riemann-mapping conjecture">
  <div class="layout">
    <header>
      <h1>Interactive explorations of Thurston's Riemann-mapping conjecture</h1>
    </header>
    <main>
      <Thurston client:load />
    </main>
    <article>
      <Readme />
    </article>
  </div>
</Html>

<style>
  .layout {
    position: absolute;
    inset: 0;
    background-color: var(--page-bg);

    display: grid;
    grid-template-areas: "header readme" "thurston readme";
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;

    & > header {
      grid-area: header;
      margin: 2rem 2rem 0 2rem;

      & > h1 {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.25em;
      }
    }

    & > article {
      grid-area: readme;
      overflow-y: auto;
      margin-right: 2rem;
    }

    & > main {
      grid-area: thurston;
      display: grid;
    }
  }
</style>
