:root {
  --font: Mukta;

  --page-bg: #eee;

  --canvas-bg: #fff;
  --canvas-border-color: #ccc;

  --slider-bg: #fff;
  --slider-fg: #ac6;

  --circle-odd-fill: #0672;
  --circle-even-fill: #0674;

  --circle-odd-stroke: #067;
  --circle-even-stroke: #067;

  --triangulation-fill: #0383;
  --triangulation-stroke: #0384;

  --circle-hover-fill: #a628;

  --domain-fill: #0002;
  --domain-stroke: #023;

  --drawing-stroke: #000;
}
