:root {
  --font: Mukta;

  --page-bg: #eee;

  --canvas-bg: #fff;
  --canvas-border-color: #ccc;

  --slider-bg: #fff;
  --slider-fg: #ac6;

  --circle-fill: black;
  --circle-odd-opacity: 0.125;
  --circle-even-opacity: 0.25;

  --circle-hover-fill: #49f;
  --circle-hover-opacity: 0.5;

  --domain-fill: #eee;
}
