---
import "$css/theme.css";
import "katex/dist/katex.min.css";
import "$css/katex.css";

export type Props = { title: string };
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href=`${import.meta.env.BASE_URL}favicon.svg`
    />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  :root {
    font-family: var(--font);
  }
  body {
    margin: 0;
  }
</style>
